@import url("./reset.css");

body {
  background-color: #333;
  color: white;
}

.bg-green {
  background-color: green;
}

#loading-spinner {
  max-width: 150px;
  margin-top: calc(50vh - 100px);
  animation: loading 5s infinite linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

#products-section {
  text-align: center;
}

#list-of-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.product-image {
  border-radius: 10px;
  max-width: 200px;
}

.product-image,
.product-container h2:hover {
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  padding: 1rem 2rem;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
  background-color: #555;
}

#list-of-products {
  text-align: center;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.filter-btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}